/*Menu Nav */

body{
    background-color: white;
}


.container-fluid {
    background-image: linear-gradient(-90deg, #00539b, #fff);
}

* {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
}

header {
    background: lightgray;
    height: 200px;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}



.logo img {
    width: 180px;
}


.menu nav ul {
    display: flex;
    
}

.menu nav ul li {
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: opacity 300ms;
}

.menu nav ul li a:hover {
    opacity: 0.6;
}


.register input,
.buttons__cover .register {
    padding: 14px 50px;
    border: none;
    background: black;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.register input:hover,
.buttons__cover .register:hover {
    background: #69F1A1;
    color: black;
}



/* SLIDER */

.slider{
    position: relative;
    background: #000116;
    width: 1860px;
    min-height: 800px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 10%);
    transition: 2.5s;
    transition-property: clip-path;
    
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
  }
  
  .navigation{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
    
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #4285F4;
  }
  

/* RESPONSIVE SLIDER*/


  @media (max-width: 900px){
    .slider{
      width: 100%;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  }



/* PIE DE PAGINA */

.pie-pagina {
    width: 100%;
    background-image: linear-gradient(-90deg, #00539b, #fff);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-top: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #00539b;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #00539b;
    padding: 15px 10px;
    text-align: center;
    color: #fff
}

.pie-pagina.grupo-2 small {
    font-size: 15px;
}

/* RESPONSIVE*/

@media (max-width:1024px){
    main {
        padding: 20px;
    }

}

@media (max-width:920px){

    .text__information{
        width: 100%;
    }

    .media__cover{
        display: none ;
    }

    .banner{
        height: auto;
        flex-wrap: wrap;
    }

    #icon_heart{
        left: 0;
    }

    .banner__text{
        width: 100%;
        margin-top: -100px;
    }

}







